* { 
    box-sizing: border-box !important;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    color: black;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    padding: 0;
    padding-top: 100px;
    margin: 0;
    width: 100%;
}

header {
    background-color: #992c05;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #992c05;
    z-index: 1000;
}

ul {
    list-style-type: none;
}

li {
    margin: 0;
}

button {
    border: none;
    width: 80px;
    height: 40px;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #992c05;
    color: white;
}

.logo {
    position: fixed;
    left: 20px;
    top: 15px;
    height: 60px;
    width: 80px;
    border-radius: 10px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container a {
    flex: 0 0 calc(50% - 20px);
    overflow: hidden;
    margin: 10px;
    position: relative;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image-container p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main-content {
    max-width: 100%;
    margin-right: 0;
}

.main-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.main-content h1 {
    margin-bottom: 10px;
}

.main-content h3 {
    margin-top: 5px;
}

iframe {
    position: static;
    border-radius: 15px;
    max-width: 100%;
    margin-left: 0;
}

form {
    max-width: 100%;
    margin: 20px auto;
}

label, input, textarea {
    width: 100%;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    background-color: white;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    .container-header {
        padding: 20px;
    }

    button {
        width: 80px;
        height: 40px;
        font-size: 12px;
    }

    .logo {
        height: 60px;
        width: 80px;
    }

    main {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
    }

    .main-container img {
        max-width: 100%;
    }

    .main-content {
        max-width: 100%;
        margin-right: 0;
    }

    footer {
        margin-left: 0;
    }

    ul {
        position: static;
        width: 100%;
        display: none;
        background-color: #992c05;
        text-align: center;
        margin-top: 0;
    }

    li {
        float: none;
        display: block;
        margin: 0;
    }

    button {
        display: block;
        margin: 10px auto;
    }

    ul.show {
        display: flex;
        flex-direction: column;
    }
}
